.mensaje {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2em;
  color: #ffeb3b;
  font-family: 'Comic Sans MS', cursive;
  font-weight: bold;
  text-shadow: 0 0 5px #fff176, 0 0 10px #fff176, 0 0 20px #ffeb3b, 0 0 40px #fbc02d;
  animation: brillar 2s infinite alternate;
  z-index: 9999;
}

@keyframes brillar {
  from { text-shadow: 0 0 5px #fff176, 0 0 10px #fff176; }
  to { text-shadow: 0 0 20px #ffeb3b, 0 0 40px #fbc02d, 0 0 60px #f57f17; }
}
#btnMusica {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  background: yellow;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 10px black;
  transition: 0.3s;
  z-index: 10000; /* 👈 asegura que quede encima de todo */
}

#btnMusica:hover {
  background: orange;
}